<?php
$conf['title'] = '{{ dokuwiki_title }}';
$conf['lang'] = 'en';
$conf['license'] = 'cc-by-sa';
$conf['superuser'] = 'admin';
$conf['disableactions'] = 'register';

$conf['authtype']   = 'authshibboleth';
$conf['useacl'] = 1;
